section,
.header,
footer {
    padding: 0 calc(50vw - 585px);

    @media screen and (max-width: 1200px) {
        padding: 0 calc(50vw - 480px);
    }

    @media screen and (max-width: 992px) {
        padding: 0 calc(50vw - 370px);
    }

    @media screen and (max-width: 768px) {
        padding: 0 calc(50vw - 270px);
    }
    @media screen and (max-width: 576px) {
        padding: 0 15px;
    }
}
